.header
	background-color: $blue
	width: calc(100% - 1.5rem)
	max-width: calc(100% - 1.5rem)
	margin: 54px 0 76px
	padding: 0 .75rem
	display: flex
	justify-contents: space-between
	flex-direction: column-reverse
	clear: both
	@include breakpoint(tablet)
		flex-direction: row
		align-items: 
	.header__title,
	.header__logo
		display: inline-block
	.header__title
		margin: 1.94rem auto 1.94rem .75rem
		width: auto
		max-width: 100%
		@include breakpoint(tablet)
			max-width: calc(50% - .75rem)
		@inclde breakpoint(laptop)
			white-space: nowrap

	.header__title-text
		font-family: tescoBold
		font-weight: normal
		color: $white
		font-size: 24px
		margin: 0px
		
	
	.header__logo
		width: 100%
		align-self: center
		max-width: 50%
		margin: 1.56rem auto 1.56rem .75rem
		@include breakpoint(tablet)
			margin-right: .75rem
			margin-left: auto

		.header__logo-img
			width: 100%
			max-width: 111px
			height: 46px
			background: red
			display: block
			margin-right: auto
			@include breakpoint(tablet)
				margin-left: auto
				margin-right: initial



